html{
    background-color: rgba(147, 112, 216, 0.39);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("sfond.jpg");
    background-size: cover;
}
h1{
    color:rgba(153, 50, 204, 0.54);
}

#top img{
    width: 13%;
    height: 12%;
    border-radius: 60%;
    z-index: 1;
}

#top{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color:rgba(175, 23, 221, 0.699);
    margin-top: -50px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 0.5em;
}

nav a{
    color:rgb(124, 16, 157);
    background-color: rgba(255, 255, 255, .4);
    padding: 0.5em;
    border-radius: 1em;
    cursor:pointer;
    

}
.menu{
    display: flex;

    justify-content: center;
    
    height: 2.5em;
    font-family: "Cormorant Garamond";
    position: relative;
 
    top:1%;
    z-index: 1;
}

body{
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

#utente{
    display: flex;
    align-items: center;
    
    margin-bottom: 0px;
}

#testo{
    display: flexbox;
    flex-wrap: wrap;
    border-radius: 1em;
    margin:30px;
    text-align: center;
    background-color: #d456fb47;
    padding: 40px;
    position: relative;
    top:10px;
    bottom: 10px;
    border: 1px  solid #0c0220;
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: 100vw;
}


#visione{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

img{
    height: 250px;
    width: 250px;
    margin-left: 15px ;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 15px;
    background-color: rgba(240, 248, 255, 0.562);
    padding: 10px;
    cursor:pointer;
    
    
}
img:hover{
    background-color: #400c5047;
}

.disposizione{
    align-items: center;
    margin-bottom: 20px;
}

#visualizza{
    display: flexbox;
    flex-wrap: wrap;
    height: 50px;
    width: 50px;
   

}
.selez{
    background-color: rgba(255, 240, 240, 0.76);
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 35px;
    margin-left: 30px;
    margin-right: 30px;
   
    margin-bottom: 100px;
    border: 1px solid #0c0220;
}

.barra{
    display: none;
}

div.seleziona{
    margin-bottom: 100px;
    position: relative;
}
