html{
    background-color: rgba(147, 112, 216, 0.39);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#intestazione{
    display: flex;
    flex-direction: column;
    background-color: rgba(153, 50, 204, 0.54);
    height: 200px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.4em;
    
}
#aria{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ui-monospace;
    font-size: 35px;
    margin-top: 65px;
}

.menu a{
  
    display: inline-flex;
    flex-flow: wrap;
    align-items: end;
    color: rgba(175, 23, 221, 0.699);
    background-color: rgba(255, 255, 255, .4);
    padding: 0.5em;
    border-radius: 1em;
    align-content: space-between;

}
h1{
    color:rgba(153, 50, 204, 0.54);
    text-align: center;
    align-items: center;
    font-size: large;
    
}

#foto img{
    width: 150px;
    height: 150px;
    border-radius: 80%;
    margin-top: 40px;
}


.disposizione{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color:rgba(175, 23, 221, 0.699);
    margin-top: -50px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 0.5em;

}
.rimuovi{
    display: none;
}
 #contenuti img{
    height: 175px;
    width: 175px;
    margin-left: 15px ;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-right: 15px;
    background-color: rgba(240, 248, 255, 0.562);
    padding: 15px;
    cursor:pointer;
}